// Variaveis de cores
$cor-primaria: #041832;
$cor-secundaria: #4E75FF;
$cor-terciaria: #85A0FF;
$cor-quaternaria: #CAD4FA;

//Variaveis de gradientes
$gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFF 96.87%);
$gradiente-secundario: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202,212,250,0.3) 100%);

//Variaves de fonts
$font-primaria: 'Montserrat', sans-serif;
$font-secundaria: 'Krona One', sans-serif;